.header {
    background-image: url(../pic/hero.jpg);
    max-width: 100vw;
    height: 91rem;
    background-size: cover;
    padding-top: 4rem;
    position: relative;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: flex;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 3rem;
        }
        &:not(:first-child) {
            overflow: hidden;
        }
    }

    &__link {
        color: $white-color;
        font-size: 1.6rem;
        position: relative;
        
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: 0;
            left: 100%;
            background-color: $blue-color;
            transition: left .5s;
        }

        &:hover::before {
            left: 0;
        }

        &--btn {
            background-color: $blue-color;
            padding: 1.1rem 3rem;
            border-radius: 5px;
            color: $white-color;
            font-size: 1.6rem;
        }
    }

    &__slogan {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white-color;
        &-sub {
            font-size: 2rem;
            font-weight: 300;
            margin-bottom: .5rem;
        }

        &-main {
            font-size: 4rem;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: -.8rem;
                top: 0;
                width: 5px;
                height: 90%;
                background-color: $blue-color;
                animation: wink .5s infinite;
                animation-direction: alternate-reverse;
            }
        }
    }
}