.hero {
    
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        text-align: right;
        width: 35rem;
        height: 30rem;
        z-index: 1;
        position: relative;
        transform: translate(0 , -50%);
        color: $white-color;
        padding: 2rem 2rem  2.5rem 1rem;
        @include box-shadow;
    }

    &__program {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: linear-gradient(rgba(255, 0, 0, 0.589),rgba(255, 0, 0, 0.61)),url(../pic/thumb3.jpg);
        background-position: right bottom;
        background-size: cover;

        &-header{
            flex: 0 0 50%;
            font-size: 1.8rem;
        }

        &-date {
            flex: 1;
        }

        &-group {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5rem;
            padding-bottom: 1.5rem;
            &:not(:last-child) {
                border-bottom: 1px solid $white-color;
            }
        }
    }

    &__premium {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: linear-gradient(rgba(0, 177, 9, 0.699), rgba(0, 177, 9, 0.7)),url(../pic/thumb2.jpg);
        background-position: center;
        background-size: cover;

        &-header {
            flex: 0 0 75%;
        }

        &-paragraph {
            flex: 1;
            font-size: 2.2rem;
        }
    }

    &__review {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: linear-gradient(rgba(0, 183, 255, 0.699), rgba(0, 162, 255, 0.7)),url(../pic/thumb1.jpg);
        background-position: center;
        background-size: cover;

        &-paragraph {
            font-size: 2.3rem;
            font-weight: 900;
        }

        &-user {
            font-size: 1.6rem;
            font-weight: 100;
        }
    }
}