.hero {
    background-image: url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    grid-column: full-start / full-end;
    grid-row: 1 / 3;
    position: relative;

    &__content {
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $white-color;
        width: 100%;
        &--sub {
            font-size: 1.6rem;

            @include respond(tablet) {
                font-size: 1.2rem;
            }
        }

        &--main {
            font-size: 4rem;
            position: relative;
            display: inline-block;

            @include respond(tablet) {
                font-size: 3rem;
            }

            @include respond(phone) {
                font-size: 2.5rem;
            }

            &::after {
                content: "";
                position: absolute;
                left: -.8rem;
                top: 0;
                height: 90%;
                width: 4px;
                background-color: $blue-color;
                animation: wink .6s infinite;
                animation-direction: alternate-reverse;

            }
        }
    }
}