*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'vazir';
}

ul,li{
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 108rem;
    margin: auto;
}